:root{
    --bg-main : #477474;
    --text-main: #000000;
    --text-hover: #ffff;
}
.menu_height{
    height: 100%;
}
.img_admin{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
.header_admin{
    background-color: var(--bg-main);
}
.img_table{
    width: 100%;
    max-height: 5rem;
    object-fit: cover;
}
.menu ul li{
    transition: 0.2s;
}
.menu ul li:hover {
    background-color: var(--bg-main);
    border-radius: 0.5rem;
    transform: translateY(-3px);
}
.border_menu{
    box-shadow: 0 5px 5px gray;
    border-radius: 0.5rem;
}
.hover_item{
    transition: 0.2s;
}
.hover_item:hover{
    transform: translateY(-3px);
}
.text_custom{
    color: var(--text-main);
}
.text_custom:hover{
    color: var(--text-hover);
}

.main_toasct{
    position: absolute;
    right: 0.75rem;
    top: 0;
}
.toasct_custom{
    padding: 5px 10px ;
    color: #ffff;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0 5px 5px gray;
}
#toasct{
    margin: 10px 0;
    position: absolute;
    right: 0.75rem;
    top: 5rem;
    transition: 0.5s;
    cursor: default;
    position: relative;
    z-index: 999;
}
.toasct_active{
    /* transform: translateX(150%); */
    animation: toasct_active ease-in-out 2s  forwards;
}
@keyframes toasct_active {
    0%{
        right: 0.75rem;
    }
    100%{
        right: -100%;
        display: none;
    }
}

.img_infor{
    width: 10rem;
}
.img_sp{
    width: 10rem;
}


.small-box{
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    display: block;
    margin-bottom: 20px;
    position: relative;
}
.small-box .inner{
    padding: 10px;
    position: absolute;
    left: 15px;
    margin-bottom: 10px;
}
.small-box .icon{
    color: rgba(0, 0, 0, .15);
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    position: relative;
    top: 30px;
    right: 40px;
}
.icon:hover i{
    transform: scale(1.2);
}
.icon i{
    transition: 0.5s;
    font-size: 100px;
 
}
.small-box .small-box-footer{
    background-color: rgba(0,0,0,.1);
    color: rgba(255,255,255,.8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
    margin-top: 4rem;
    transition: 0.3s;
    font-weight: 700;
    
}
.small-box-footer:hover {
   color: var(--text-hover);
   transform: translateX(3px);
   font-weight: 700;
}


.cart-detail {
    border-collapse: collapse;
    margin-top: 30px;
    width: 100%;
}
.cart-detail thead th {
    border-bottom: 1px solid #ccc;
    padding: 24px 0;
    font-size: 14px;
}
.cart-detail tbody img {
    width: 150px;
}
.cart-detail tbody td {
    padding: 20px 10px;
    vertical-align: top;
    text-align: center;
    border-bottom: 1px solid #ccc;
}