.hovershirt {
    display: none;
}  
.p_top{
    padding-top: 2rem;
} 
.chitietsanpham-color input[type="radio"] {
    display: none;
}
.chitietsanpham-color .color-label,
.chitietsanpham-color .size-label {
    display: inline-block;
    text-align: center;
    width: 40px;
    margin: 4px;
    padding: 4px;
    border: 2px solid #ccc;
    cursor: pointer;
}
.chitietsanpham-color input[type="radio"]:checked + label {
    background-color: rgb(204, 204, 204);
}
.chitietsanpham-color .color-label {
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    text-indent: -9999px;
    position: relative;
}
.chitietsanpham-color .color-label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: white;
    border: 2px solid black;
    opacity: 0;
}
.chitietsanpham-color input[type="radio"]:checked + .color-label::after {
    opacity: 1;
}
.chitietsanpham-color #color-blue + label {
    background-color: blue;
}
.chitietsanpham-color #color-red + label {
    background-color: red;
}
.chitietsanpham-color #color-purple + label {
    background-color: purple;
}
.chitietsanpham-color #color-yellow + label {
    background-color: yellow;
}
.chitietsanpham-color #color-green + label {
    background-color: green;
}
.chitietsanpham-color #color-pink + label {
    background-color: pink;
}
.chitietsanpham-color #color-gray + label {
    background-color: gray;
}
.chitietsanpham-color #color-white + label {
    background-color: white;
}
.chitietsanpham-color #color-black + label {
    background-color: black;
}
.chitietsanpham-color #color-brown + label {
    background-color: brown;
}
.chitietsanpham-color #color-orange + label {
    background-color: orange;
}
.margin_top{
    margin-top: 7rem;
}
.product_detail_grap{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1.5rem;
}
.detail_img{
    max-width: 100%;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail_img>img{
    width: 30rem;
    display: block;
}
.header_detail{
    padding-bottom: 1.5rem;
}
.header_detail>p{
font-size: 1.75rem;
}
.detail_main{
    padding-bottom: 1.5rem;
}
.price_detail,.price_unit{
    font-size: 32px;
    font-weight: 700;
    color: red;
    margin: 0;
}

.detail_rainting{
    padding: 0 20px;
}
.detail_text{
    padding-bottom: 1.5rem;
    opacity: 0.8;

}
.detail_text>textarea{
    padding: 5px 2rem 5px 5px;
    border: 1px solid gray;
    height: fit-content;
}
.detail_function li{
    padding: 0.5rem 0;
}
.infor_soccial li{
    padding: 1rem 0;
}
.soccial i{
    padding: 0 10px;
    font-size: 2rem;
}
.detail_quanity{
    margin: 2rem 0;
}
.detail_quanity button{ 
    width: 2rem;
    overflow: hidden;
}
.detail_quanity button{
padding: 5px;
cursor: pointer;
background-color: rgb(87, 87, 171);
border: none;
border-radius: 10px;
transition: 0.3s all;
}
.detail_quanity button:hover{
    transform: translateY(-3px);
    color: rgb(48, 48, 97);
    box-shadow: 0 5px 5px gray;
}
.detail_quanity button i{
    font-weight: 700;
    color: aliceblue;
    font-size: 1rem;
}
.detail_quanity span:nth-child(2){
    border: 1px solid gray;
    padding: 6px 30px;
    border-radius: 5px;
}

.btn_add_cart{
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: rgb(229, 17, 17);
    border-radius: 10px;
    cursor: pointer;
    color: rgb(182, 185, 187);
    transition: 0.3s;
    font-weight: 700;
}
.btn_add_cart:hover{
    background-color: red;
    color: aliceblue;
    transform: translateY(-3px);
    box-shadow: 0 10px 10px gray;
}
.detail_method form{
margin: 1rem 0;
}
.comment{
    margin: 10px 2rem;
}
.comment>h3{
    padding: 1rem;
}
.content_commneted{
    border: 0.5px solid rgb(173, 173, 173);
    padding: 1rem;
    /* min-height: 300px; */
}

.group_commented{
    display: grid;
    grid-template-columns: 10% 50% 5%;
    gap: 1rem;
    border-bottom: 1px solid gray;
}
.info_commented {
    width: 100%;
    height: 100%;
   border-right: 1px solid gray;
}
.user_commented>p{
    text-align: center;
    padding: 0.5rem 0;
    color: #646566;
    font-size: 12px;
}
.img_commented{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.img_commented>img{
    width: 3rem;
    border-radius: 50%;
}
.text_commented>textarea{
    padding: 0.5rem;
}
.btn_submit{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgb(47, 114, 220);
    color: #fff;
    font-weight: 700;
    transition: 0.3s;
}
.btn_submit:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 5px gray;
    background-color: blue;
}

/* sp cùng danh mục */
.wrapper{
    width: 80%;
    margin: 2rem auto;
}
.wrapper>h1{
    text-align: center;
    margin: 2rem 0;
}
.grid_item{
    border-right: 1px solid gray;
}