* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root{
    --bg-main: #477474;
    --text-hover: #ffff;
    --text-main: #000000;
    
}
.header_home{
    background-color:var(--bg-main);
}
.text_custom{
    color: var(--text-main);
}
.text_custom:hover{
    color: var(--text-hover);
}
.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover_item{
    transition: 0.2s;
}
.hover_item:hover{
    transform: translateY(-3px);
}

/* home page */
.sale {
    text-align: center;
}

.sale_img {
    width: 13rem;
}

.bst_img {
    width: 100%;
    display: block;
    height: 30rem;
}

.bst_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.group_btn {
    position: relative;
}
.btn_buy {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
   display: none;
}
.btn_danger{
    padding: 0.5rem;
    border: 1px solid red;
    font-size: small;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
}
.btn_danger:hover{
    background-color: rgb(189, 27, 27)(178, 54, 54);
}
.btn_success{
    padding: 0.5rem;
    border: 1px solid green;
    font-size: small;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
}
.btn_success:hover{
    background-color: rgb(27, 189, 49)(178, 54, 54);
}

.main_toasct{
    position: absolute;
    right: 0.75rem;
    top: 0;
}
.toasct_custom{
    padding: 5px 10px ;
    color: #ffff;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0 5px 5px gray;
}
#toasct{
    margin: 10px 0;
    position: absolute;
    right: 0.75rem;
    top: 5rem;
    transition: 0.5s;
    cursor: default;
    position: relative;
    z-index: 999;
}
.bg_fail{
    background-color: rgb(179, 60, 60);
    padding: 1rem;
}
.bg_success{
    background-color: rgb(11, 176, 11);
    padding: 1rem;
}
.toasct_active{
    /* transform: translateX(150%); */
    animation: toasct_active ease-in-out 2s  forwards;
}
.product-list-content {
    margin: 150px;
    display: grid;
    gap: 30px;
    grid-template-columns: 24% 74%;
}
@keyframes toasct_active {
    0%{
        right: 0.75rem;
    }
    100%{
        right: -100%;
        display: none;
    }
}

