<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="../view/assets/css/admin.css">


</head>

<body>
    <div class="container-fluid wrapper">
        <header class="header_admin">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand fw-bold fs-3 text-dark" href="#">
                        <img src="../view/assets/img/logo-3.png" alt="" style="width: 12rem;">
                        Admin
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <form class="d-flex" role="search">
                                    <input class="form-control me-1" type="search" placeholder="Search"
                                        aria-label="Search">
                                    <button class="btn btn-outline-light" type="submit">Search</button>
                                </form>
                            </li>
                        </ul>


                        <ul class="navbar-nav  mb-2 mb-lg-0">
                            <li class="nav-item dropdown me-5">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <img src="../view/assets/img/sp1.webp" alt="" class="img_admin">
                                </a>
                                <ul class="dropdown-menu end-0" style="left: auto;">
                                    <li>
                                        <a class="dropdown-item d-flex text-center " href="#">
                                            <img src="../view/assets/img/sp1.webp" alt="" width="40rem">
                                            <p class="fw-light ms-2">thinhhh</p>
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>

                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>


        <div id="toasct ">
            <p class="toasct_custom bg-success">
                Thành công
            </p>
        </div>


        <!-- home admin -->
        <div class="container-fluid mt-4 menu">
            <div class="row ">
                <div class="col-2 ">
                    <div class="border-1 border border_menu menu_height">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-3">
                                <a class="nav-link text_custom fw-bold" aria-current="page" href="#">Quản lý sản
                                    phẩm</a>
                            </li>
                            <li class="nav-item mb-3">

                                <a class="nav-link text_custom fw-bold" href="#">Quản lý danh mục</a>
                            </li>
                            <li class="nav-item mb-3">
                                <a class="nav-link text_custom fw-bold" href="#">Quản lý tài khoản</a>
                            </li>
                            <li class="nav-item mb-3">
                                <a class="nav-link text_custom fw-bold" href="#">Thống kê hóa đơn</a>
                            </li>
                            <li class="nav-item mb-3">
                                <a class="nav-link text_custom fw-bold" href="#">Biểu đồ thống kê</a>
                            </li>
                            <li class="nav-item mb-3">
                                <a class="nav-link disabled text_custom fw-bold" aria-disabled="true">Quản lý doanh
                                    thu</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-10 float_right">
                    <h3 class="my-4">Danh sách sản phẩm</h3>
                    <table class="table table-bordered table-hover align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th style="width: 40px;"><input type="checkbox" class="item_checkbox" id="checkAll">
                                </th>
                                <th style="width: 40px;">STT</th>
                                <th>Tên sản phẩm</th>
                                <th>Ảnh</th>
                                <th>Giá</th>
                                <th style="width: 40px;">Số lượng</th>
                                <th>
                                    <a href="#" class="btn btn-success hover_item">Thêm mới</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" name="check_sp" class="item_checkbox"></td>
                                <td>1</td>
                                <td>Quần thể thao nam</td>
                                <td>
                                    <img src="../view/assets/img/sp1.webp" alt="" class="img_table">
                                </td>
                                <td>344555</td>
                                <td>24</td>
                                <td>
                                    <a href="#" class="btn btn-danger hover_item">Xóa</a>
                                    <a href="#" class="btn btn-warning hover_item">Sửa</a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="check_sp" class="item_checkbox"></td>
                                <td>1</td>
                                <td>Quần thể thao nam</td>
                                <td>
                                    <img src="../view/assets/img/sp1.webp" alt="" class="img_table">
                                </td>
                                <td>344555</td>
                                <td>24</td>
                                <td>
                                    <a href="#" class="btn btn-danger">Xóa</a>
                                    <a href="#" class="btn btn-warning">Sửa</a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td>Quần thể thao nam</td>
                                <td>
                                    <img src="../view/assets/img/sp1.webp" alt="" class="img_table">
                                </td>
                                <td>344555</td>
                                <td>24</td>
                                <td>
                                    <a href="#" class="btn btn-danger">Xóa</a>
                                    <a href="#" class="btn btn-warning">Sửa</a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td>Quần thể thao nam</td>
                                <td>
                                    <img src="../view/assets/img/sp1.webp" alt="" class="img_table">
                                </td>
                                <td>344555</td>
                                <td>24</td>
                                <td>
                                    <a href="#" class="btn btn-danger">Xóa</a>
                                    <a href="#" class="btn btn-warning">Sửa</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- panigation -->
                    <div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- group input -->
                    <div class="my-5">
                        <div class="btn-group">
                            <a href="#" class="btn btn-warning" id="selectAll">Chọn tất cả</a>
                            <a href="#" class="btn btn-success" id="unSelectAll">Bỏ chọn tất cả</a>
                            <a href="#" class="btn btn-danger" id="delSelect">Xóa theo các lựa chọn</a>
                        </div>
                    </div>


                    <!-- thêm mới -->
                    <div class="container my-4">
                        <div class="my-3">
                            <h3>Thêm mới hàng hóa</h3>
                        </div>
                        <form action="" method="post">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mt-3">
                                        <label for="" class="form-label">Mã sản phẩm: </label>
                                        <input type="text" readonly value="" class="form-control"
                                            placeholder="Mã sản phẩm">
                                    </div>
                                    <div class="mt-3">
                                        <label for="name_sp" class="form-label">Tên sản phẩm</label>
                                        <input type="text" name="name_sp" id="name_sp" class="form-control"
                                            placeholder="Nhập tên sản phẩm">
                                    </div>
                                    <div class="mt-3">
                                        <label for="price_sp" class="form-label">Giá sản phẩm</label>
                                        <input type="number" name="price_sp" id="price_sp" class="form-control"
                                            min="1000" placeholder="Nhập giá sản phẩm">
                                    </div>

                                </div>
                                <div class="col-lg-4">
                                    <div class="mt-3">
                                        <input type="checkbox" name="" id="" class="form-check-input">
                                    </div>
                                    <div class="mt-3">
                                        <label for="price_km" class="form-label">Giá khuyến mãi: </label>
                                        <input type="text" name="price_km" class="form-control" id="price_km"
                                            placeholder="Giá khuyến mãi sản phẩm">
                                    </div>
                                    <div class="mt-3">
                                        <label for="img_sp" class="form-label">Ảnh</label>
                                        <input type="file" name="img_sp" id="img_sp" class="form-control">
                                    </div>
                                    <div class="mt-3">
                                        <label for="date_sp" class="form-label">Ngày nhập</label>
                                        <input type="date" name="date_sp" id="date_sp" class="form-control"
                                            placeholder="Nhập ngày nhập sản phẩm">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mt-3">
                                        <label for="loai_sp" class="form-label">Loại sản phẩm: </label>
                                        <select name="loai_sp" id="loai_sp" class="form-select">
                                            <option value="">[Chọn loại sản phẩm phù hợp]</option>
                                            <option value="1">Giày thể thao</option>
                                        </select>
                                        <div class="mt-3">
                                            <label for="quanity_sp" class="form-label">Số lượng sản phẩm</label>
                                            <input type="number" name="quanity_sp" min="1" id="quanity_sp"
                                                class="form-control" placeholder="Nhập số lượng sản phẩm">
                                        </div>
                                        <div class="mt-3">
                                            <label for="">Màu xanh</label>
                                            <input type="checkbox" name="" id="">
                                            <label for="">Màu xanh</label>
                                            <input type="checkbox" name="" id="">
                                            <label for="">Màu xanh</label>
                                            <input type="checkbox" name="" id="">
                                            <!-- <div class="input-group">
                                                <input type="text" name="" id="" placeholder="Tên màu">
                                                <input type="color" name="" id="">
                                            </div> -->
                                            <div class="mt-3" id="show_color">

                                            </div>
                                            <p class="btn btn-success mt-3" id="add_color">Thêm mới</p>
                                        </div>
                                        <div class="mt-3">

                                            <label for="">Thêm size</label>
                                            <input type="text" name="" id="" placeholder="Nhập size">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="mt-3">
                                <label for="mota_sp" class="form-label">Mô tả sản phẩm</label>
                                <textarea name="mota_sp" id="mota_sp" class="form-control"
                                    placeholder="Nhập mô tả sản phẩm"></textarea>
                            </div>
                            

                        </form>
                    </div>
                </div>
            </div>


            <!-- main -->
            <div>
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>150</h3>
                                <p>New Orders</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-shopping-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>53<sup style="font-size: 20px">%</sup></h3>

                                <p>Bounce Rate</p>
                            </div>
                            <div class="icon">
                                <i class="far fa-chart-bar"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>44</h3>

                                <p>User Registrations</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-user-plus"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>65</h3>

                                <p>Unique Visitors</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-chart-pie"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>

            </div>
        </div>


    </div>

    <!-- script bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../view/assets/js/admin.js"></script>
    <script src="../view/assets/js/admin_addColor.js"></script>

</body>

</html>