<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../view/assets/css/ordered.css">
</head>
<body>
    <div class="wrapper_ordered">
        <h3>Hóa Đơn </h3>
        <div class="content_ordered">
            <div class="info_ordered">
                <h4>Thông tin đơn hàng</h4>
                <div>
                    <p>
                        Mã đơn hàng: <span>Dam-2</span>
                    </p>
                    <p>
                        Ngày đặt: <span>Dam-2</span>
                    </p>
                    <p>
                        Phương thức thanh toán: <span>Dam-2</span>
                    </p>
                    <p>
                        Ghi chú: <span>Dam-2</span>
                    </p>
                </div>
            </div>
            <div class="info_ordered">
                <h4>Thông tin đơn hàng</h4>
                <div>
                    <p>
                        Mã đơn hàng: <span>Dam-2</span>
                    </p>
                    <p>
                        Ngày đặt: <span>Dam-2</span>
                    </p>
                    <p>
                        Phương thức thanh toán: <span>Dam-2</span>
                    </p>
                    <p>
                        Ghi chú: <span>Dam-2</span>
                    </p>
                </div>
            </div>
            <div class="info_ordered">
                <h4>Chi tiết đơn hàng</h4>
                <div class="cart-content">
                    
                    <table class="cart-detail" border="1px">
                        <thead>
                            <tr>
                                <th>ẢNH</th>
                                <th>THÔNG TIN</th>
                                <th>GIẢM GIÁ</th>
                                <th>SỐ LƯỢNG</th>
                                <th>THÀNH TIỀN</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="showCart">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>