<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../view/assets/css/style.css">
</head>

<body>
    <div class="wrapper">
        <form action="" method="post" class="">
            <div class="card item_center" style="width: 30rem;">
                <div class="card-header text-center">
                    <h4 class="fw-bold">Đăng ký</h4>
                </div>
                <div class="card-body">
                    <div class="mt-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" id="email" class="form-control"
                            placeholder="Nhập email của bạn ">
                    </div>
                    <div class="mt-3">
                        <label for="name" class="form-label">Tên </label>
                        <input type="text" name="name" id="name" class="form-control"
                            placeholder="Nhập tên của bạn ">
                    </div>
                    <div class="mt-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" id="password" class="form-control"
                            placeholder="Nhập mật khẩu">
                    </div>
                    <div class="mt-3">
                        <label for="number_phone" class="form-label">Số điện thoại</label>
                        <input type="text" name="number_phone" id="number_phone" class="form-control"
                            placeholder="Nhập số điện thoại">
                    </div>
                    <div class="mt-3 d-flex justify-content-between">
                        <!-- <div class="">
                            <input type="checkbox" name="remember" id="remember" class="form-check-input">
                            <label for="remember" class="form-label" >Ghi nhớ</label>
                        </div>
                        <a href="#">Bạn quên mật khẩu ?</a> -->
                    </div>
                    <div class="my-3 text-center">
                        <input type="submit" value="Đăng ký" name="signin" class="btn btn-outline-success px-xxl-5">
                        <div class="my-3">
                            <p>Bạn đã có tài khoản ? <a href="index.html">Đăng nhập ngay</a></p>
                        </div>
                        <div class="my-3">
                            <a href="index2.html">Trở về trang chủ</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

</body>

</html>